@page
@model MYAPP.Pages.UsersCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

    <form>
        <p>
            Email: <input type="text" asp-for="Searchuser" />
            pass: <input type="text" asp-for="Searchpass" />
            <input type="submit" value="Filter" />
        </p>
    </form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.user[0].email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.user[0].password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.user)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.password)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
